* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row1 {
 /* margin: 0 -5px;
  position: absolute;
  width: 38%;*/
  margin: 0 -5px;
    position: relative;
    width: 45%;
    display: block;
    float: left;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  position: absolute;
  width: 38%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  width:auto;
  text-align: center;
  height: 370px;
  border-radius:15px;
  background-color: #f1f1f1;
}

    body {
        color: #404E67;
        background: #F5F7FA;
		font-family: 'Open Sans', sans-serif;
	}
	.table-wrapper {
		width: 700px;
		margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }


table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }
    table.table td i {
        font-size: 19px;
    }
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
/** Department Modal Css **/

    .table-title .add-newdepart {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-newdepart i {
		margin-right: 4px;
	}

	table.table td a.adddepart {
        color: #27C46B;
    }
    table.table td a.editdepart {
        color: #FFC107;
    }
    table.table td a.deletedepart {
        color: #E34724;
    }

	table.table td a.adddepart i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }

	table.table td .adddepart {
		display: none;
	}


/** Section Modal Css **/

    .table-title .add-newsection {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-newsection i {
		margin-right: 4px;
	}

	table.table td a.addsection {
        color: #27C46B;
    }
    table.table td a.editsection {
        color: #FFC107;
    }
    table.table td a.deletesection {
        color: #E34724;
    }

	table.table td a.addsection i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }

	table.table td .addsection {
		display: none;
	}


/** Course Modal Css **/

    .table-title .add-newcourse {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-newcourse i {
		margin-right: 4px;
	}

	table.table td a.addcourse {
        color: #27C46B;
    }
    table.table td a.editcourse {
        color: #FFC107;
    }
    table.table td a.deletecourse {
        color: #E34724;
    }

	table.table td a.addcourse i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }

	table.table td .addcourse {
		display: none;
	}


/** Semester Modal Css **/

    .table-title .add-newsemester {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-newsemester i {
		margin-right: 4px;
	}

	table.table td a.addsemester {
        color: #27C46B;
    }
    table.table td a.editsemester {
        color: #FFC107;
    }
    table.table td a.deletesemester {
        color: #E34724;
    }

	table.table td a.addsemester i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }

	table.table td .addsemester {
		display: none;
	}


/** Student Modal Css **/

    .table-title .add-newstudent {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-newstudent i {
		margin-right: 4px;
	}

	table.table td a.addstudent {
        color: #27C46B;
    }
    table.table td a.editstudent {
        color: #FFC107;
    }
    table.table td a.deletestudent {
        color: #E34724;
    }

	table.table td a.addstudent i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }

	table.table td .addstudent {
		display: none;
	}