{%load static%}
{% block card %}

<div class="row">
  <div class="column" >
    <div class="card" style="background-image: url({% static 'images/card/newcardfront.png'%}); background-repeat: no-repeat;
  background-size: cover; background-size: 100% 100%;">
      <img id="output" src="{% static 'images/card/avatar.png'%}" width="87px" height="87px" style="margin-top:24%; border-radius:250px;"/>
      <h3  style="margin-top:7%; color:white; font-size:1.2em;" >
        <span ng-bind = "firstname"></span>
        <span id="entername" style="display:block;">Enter Name</span>
        <span ng-bind = "lastname"></span></h3>
      <p style="margin:15% 0 0 0; color:black; font-size:0.8em;" >FATHER NAME</p>
      <p style="margin:0; color:black; font-size:1.2em;"><span ng-bind = "fathername"></span></p>
      <p style="margin:0; color:black; font-size:1em;"><span id="semestercard" ></span></p>
      <p style="margin:0; color:black; font-size:1em;"><b><span id="depart"></span></b></p>
    </div>
  </div>

  <div class="column">
    <div class="card" style="background-image: url({% static 'images/card/cardbacknew.png'%}); background-repeat: no-repeat;
  background-size: cover; background-size: 100% 100%;">
      <h3 style="margin-top:40%; font-size:1.2em;">Address</h3>
      <p style="margin:7% 0 0 0;"><span ng-bind = "address" ></span></p>
      <p style="margin:23% 0 0 0;">Candidate keep this card very carefully & show it on demand</p>
      <p style="margin:0;">if found please return to</p>
      <p style="margin:0;"><b>UNIVERSITY OF KARACHI</b></p>
      <p style="margin:0;">Student Advisor Office</p>
    </div>
  </div>
</div>
{% endblock card %}